body {
  background-color #EAF6F6;
}

hr {
  border-style: dotted none none;
  background-color: inherit;
  border-color: red;
  border-width: 5px;
  height: 0px;
  width: 50%;
}
img{
  border-radius: 100%
}
img:hover{
  border-radius: 0%
}
h3{
  color: red;
}

.School{
  color: green;
}
#Skill{
  color: orange;
}
.Works{
  color: violet;
}
.Skill{
  color: blue;
}
